<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <h2><%= "#{@service.name}'s Queue" %></h2>
</div>

<div class="text-center">
    <h2>
        Current Serving Number :
        <%=@currentqueue.try(:currentqueue) %>
    </h2>
    <br>
    <h2>
        Current Ticket :
        <%=@currentticket.try(:number) %>
    </h2>
    <br/>
    <h4>Current Time :
        <%= Time.now.strftime('%B %d, %Y %I:%M %p') %></h4>

    <h3>Estimated Time To Your Turn ~ 20 minutes : <%= distance_of_time_in_words(Time.now, Time.now + 10.minutes) %></h3>

    <div class="">
      <%= form_for(@ticket, url: tickets_path, method: :post) do |f| %>
        <%= f.hidden_field :number, value: @currentticket.number += 1  %>
        <%= f.hidden_field :service_id, value: @service.id  %>
        <%= f.submit 'Get New Ticket', class: 'btn btn-success' %>
      <% end %>

      <br>

        <%= form_for(@order, url: orders_path, html: { id: "Checkout-update-form" }) do |f| %>
        <%= f.hidden_field :total %>
        <%= f.submit 'Checkout', class: 'btn btn-success' %>
        <% end %>
        <br>
        <%= link_to "Back to Services", office_branch_services_path, class: 'btn btn-primary' %>
    </div>
