<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <h2><%= "#{@service.name}'s Queue" %></h2>
</div>

<div class="text-center">
    <h2>
        Current Serving Number :
        <%=@currentqueue.try(:currentqueue) %>
    </h2>
    <br>
    <h2>
        Current Ticket :
        <%=@currentticket.try(:number) %>
    </h2>
    <br/>
    <h4>Current Time :
        <%= Time.now.strftime('%B %d, %Y %I:%M %p') %></h4>

    <h3>Estimated Time To Your Turn ~ <%= (Time.now + @interval).strftime('%I:%M %p') %> (<%= distance_of_time_in_words(0, @interval) %>) </h3>

    <%=link_to "Get New Ticket", new_order_path(service_id: @service.id), class: 'btn btn-success'%>

    <div class="">
        <%= link_to "Back to Services", office_branch_services_path, class: 'btn btn-primary' %>
    </div>
