<% provide(:title, "#{@service.name}") %>

<div class="jumbotron text-center">
    <p><%= "#{@service.name}'s Queue" %></p>
</div>

<div class="text-center">
<h2>
    Current Serving Number : <%=@currentqueue%>
</h2>
<br>
<h2>
    Current Ticket : <%=@currentticket%>
</h2>
<br />
<h4>Current Time : <%= Time.now.strftime('%B %d, %Y %I:%M') %></h4>

<h3>Estimated Time To Your Turn ~ 20 minutes : 2.50pm</h3>

<div class="">
  <%= form_for(@order, url: orders_path, html: { id: "Checkout-update-form" }) do |f| %>
    <%= f.hidden_field :total %>
    <%= f.submit 'Checkout', class: 'btn btn-success' %>
    <% end %>
    <br>
  <%= link_to "Back to Services", office_branch_services_path, class: 'btn btn-primary' %>
</div>


</div>
