<% provide(:title, "About") %>

<div class="about">
  <div class="about-ic">
    <div class="content">
      <h1 style="color: white; opacity: 0.7; font-size: 50px">  </h1>
    </div>
  </div>

  <section class="meow text-center">


  </section>
  <section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>About Us</h2>
                    <p>FastQ is a queue management system and a customer service.</p>
                    We replace take-a-number systems and sign up sheet with tech based solution to eliminate line up by number.
                </div>
            </div>

        </div>
    </div>

    <section class="team_area section_padding">
		<div class="container">
			<div class="row">
				<div class="team_title wow flipInX" data-wow-delay="0.3s">

				</div>
				<div class="col-sm-4">
					<div class="team_text wow fadeInLeft" data-wow-delay="0.3s">
						<%= image_tag "kingsir.jpg", style: "height: 235px" %>
						<div class="team_single_text">
							<span class="span_first">KINGSLEY TAN</span><br />
							<span>FOUNDER AND CEO</span>
							<div class="bg-yellow team_yellow"></div>
							<div class="team_icon">
								<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
								<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
								<a href="www.google-plus.com"><i class="fa fa-google-plus"></i></a>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team_text wow fadeInUp" data-wow-delay="0.3s">
						<%= image_tag "nicko.jpg", style: "height: 235px" %>
						<div class="team_single_text">
							<span class="span_first">NICHOLAS YAP</span><br />
							<span>CO-FOUNDER AND CTO</span>
							<div class="bg-yellow team_yellow"></div>
							<div class="team_icon">
								<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
								<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
								<a href="www.google-plus.com"><i class="fa fa-google-plus"></i></a>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team_text wow fadeInRight" data-wow-delay="0.3s">
						<%= image_tag "wermi.jpg", style: "height: 235px" %>
						<div class="team_single_text">
							<span class="span_first">ARWEN GOH</span><br />
							<span>CO-FOUNDER AND CFO</span>
							<div class="bg-yellow team_yellow"></div>
							<div class="team_icon">
								<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
								<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
								<a href="www.google-plus.com"><i class="fa fa-google-plus"></i></a>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
						</div>
					</div>
				</div>

    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- PHONE -->
                        <%= image_tag "fqtab.png", class: "app_img", style: "height: 346px" %>
                        <br>
                        <%= image_tag "fqcheck2.jpg", class: "app_img", style: "height: 346px" %>
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Why we are best <br> for you</h2>
                        <p>The most important resource is time.

                        We save time by solving a fundamental and global human problem:
                        waiting in line.

                        Our patented technology eliminates lines with "virtual queues."

                        FastQ is transforming the way the world waits in line. Every day we wait at retail businesses, healthcare clinics, educational institutions, and government agencies depend on FastQ to manage their customer flow.</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Reduce Complaints</h3>
                            <p>Timely updates and notifications alert customers as they move to the front of the queue. Fast and efficient appointment scheduling enables your customer to feel empowered and in control of their time.</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Eliminate ​Long Lines</h3>
                            <p>QLess technology provides an effortless way for your customers to quickly access the services they need without standing in line.</p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Enhance Communication and  Engagement</h3>
                            <p>Our system offers bi-directional communication between your staff and customers. Likewise, our automated survey feature collects real-time feedback – providing valuable insight to identify procedural enhancements and drive improvement to customer services.</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

  <section class="contact page" id="CONTACT">
        <div class="section_overlay">
          <ul>
            <div class="about-container">
                <div class="col-md-10 col-md-offset-1 wow bounceIn">
                    <!-- Start Contact Section Title-->
                    <div class="section_title">
                        <h2>Get in touch</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    </div>
                </div>
            </div>

            <div class="contact_form wow bounceIn">
                <div class="about-container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                    <div class="form_error text-center">
                        <div class="name_error hide error">Please Enter your name</div>
                        <div class="email_error hide error">Please Enter your Email</div>
                        <div class="email_val_error hide error">Please Enter a Valid Email Address</div>
                        <div class="message_error hide error">Please Enter Your Message</div>
                    </div>
                    <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                    <form role="form">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>


                            <div class="col-md-8">
                                <textarea class="form-control" id="message" rows="25" cols="10" placeholder="  Message Texts..."></textarea>
                                <button type="button" class="btn btn-default submit-btn form_submit">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM -->
                </div>
            </div>

        </ul>
        </div>
    </section>
    <!-- END CONTACT -->
</div>
