<h1><%= @branch.name%></h1>
<p><%= @branch.description %></p>
  <%= link_to "Delete", office_branch_path(@branch), method: :delete, data: { confirm: "Delete?" } %>
  <div style="margin: 30px" class="form-group text-center">
    <%= link_to "Add new service", new_service_path, class: "btn btn-success" %>
  </div>
<% @branch.services.each do |service| %>
  <%= service.category %>
<% end %>
