<% provide(:title, "Home") %>

<div class="landing">

  <div class="background">
    <div class="text-center">
      <%= image_tag "logoset.png", size: "200x180" %>
      <h2>QUEUE MANAGEMENT. REINVENTED!</h2>
      <h2>Ready To Eliminate Lines? Don't Wait Any Longer. </h2>

      <%= form_tag(method: "get", id: "search-form") do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search for Services / Offices", class: 'search-bar' %>
      <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      <% end %>


    </div>
  </div>

<br><br>

  <section class="service section_padding" id="service">
  <div class="container">
    <div class="row">
      <div class="service_title section-title col-text-center text-center wow flipInX">

      </div>
      <div class="row text-center">
        <div class="col-md-3 col-sm-6">
          <div class="single_sercives row-margin-bottom">
            <div class="single_sercives_icon">
              <%= link_to(offices_path) do %>
                <i class="fa fa-university"></i>
              <% end %>
            </div>
            <div class="block-title">

              <h4>
                <%= link_to "Government", offices_path %>
              </h4>

            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_sercives row-margin-bottom">
            <div class="single_sercives_icon">
                <%= link_to(offices_path) do %>
                  <i class="fa fa-money"></i>
                <% end %>
            </div>
            <div class="block-title">
              <h4>
                <%= link_to "Banking", offices_path %>
              </h4>

            </div>

          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_sercives row-margin-bottom">
            <div class="single_sercives_icon">
              <%= link_to(offices_path) do %>
              <i class="fa fa-hospital-o"></i>
              <% end %>
            </div>
            <div class="block-title">
              <h4>
                <%= link_to "Health Care", offices_path %>
              </h4>

            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="single_sercives row-margin-bottom">
            <div class="single_sercives_icon">
              <%= link_to(offices_path) do %>
              <i class="fa fa-cutlery"></i>
              <% end %>
            </div>
            <div class="block-title">

              <h4>
                <%= link_to "Restaurant", offices_path %>
              </h4>

            </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>


  <div class="call_to_action">
      <div class="container">
          <div class="row wow fadeInLeftBig" data-wow-duration="1s">
              <div class="col-md-9">
                <h2 class="feature-title text-center">

<<<<<<< Updated upstream
                  With Fast Q, Everyone Can Buy Time Now! Anywhere. Anytime.  <span class="typer" id="some-id" data-delay="100" data-delim=":" data-words="Elimating Line:Improving Service flow:Saving Time"
=======
                  Now Everyone Can Buy Time! Anywhere. Anytime. <span class="typer" id="some-id" data-delay="100" data-delim=":" data-words="Elimating Line:Improving Service flow:Saving Time"
>>>>>>> Stashed changes
                  data-colors="dark b;ue,black,orange"></span>
                  <span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span>
                </h2>
                <script src="typer.js"></script>
                  </div>
                  <script src="./type.js" type="text/javascript"></script>

              <div class="col-md-3">

                  <%= link_to "Get A Ticket Now", offices_path, class:"btn btn-primary btn-action" %>

              </div>
          </div>
      </div>
  </div>

<br><br>
<div class="intro"
<a  name="services"></a>
  <div class="content-section-a">

      <div class="container">
          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Cloud Technology<br> For Virtual Queues</h2>
                  <p class="lead">Fast Q is a cloud based intelligent queue management system that helps user to queue up virtually, and helps company to collect customers feedback, monitor realtime information of queues and the speed of services & agents.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%= image_tag "fqlap.png", class: "app_img", style: "width: 380px" %>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
  <br>
  <div class="content-section-b">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">Fast Q Manage Queue <br>Smartly and Efficiencly</h2>
                  <p class="lead">Omni-channel queue entry: you join a virtual queue online via our website, using your mobile phone (text or voice), or at an on-site kiosk. Our learning algorithms process several data points to provide an accurate forecasted wait time for each customer.</p>
              </div>
              <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <%= image_tag "fqcheck.png", class: "app_img", style: "width: 280px" %>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-b -->
  <br>
  <div class="content-section-a">

      <div class="container">

          <div class="row">
              <div class="col-lg-5 col-sm-6">
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <h2 class="section-heading">We Let You Check Your<br>Wait Time Accurately </h2>
                  <p class="lead">Timely updates and notifications alert you as you move to the front of the queue. You can ask for more time (not more than 15 mins), request status updates, or leave the line. Each message sent via text, voice, and app can be customized.</p>
              </div>
              <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                  <%= image_tag "fqcheck1.png", class: "app_img", style: "width: 280px"%>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</div>


<br><br><br><br><br>





  <div class="how-it-works">
    <section class="features-container">
      <h2 class="feature-title text-center">How Fast Q Eliminates Lines</h2>

      <section class="features">

        <div class="feature text-center" style="white">
          <%= fa_icon 'flash  2x', color: 'white'%>
          <h3 style='color:white;'>1. VIRTUAL CHECK-IN</h3>
          <p class="text-muted"> You join a virtual queue via mobile phone, website, or on-site kiosk. </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'external-link 2x', color: 'dark grey'%>
          <h3 style='color:white;'> 2. STATUS UPDATES </h3>
          <p class="text-muted">FastQ shares updates with you by text.</p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'refresh 2x', color: 'dark grey'%>
          <h3 style='color:white;'> 3. YOU'RE NEXT! </h3>
          <p class="text-muted">FastQ notifies you when your turn approaches.</p>
        </div>

      </section>
    </section>
  </div>

    <div class="how-it-works">
      <div class="text-center">
        <%= image_tag "how.png", class: "app_img", style: "height: 446px; width: 780px" %>
      </div>
    </div>


  <div class="app">
    <div class="app-feature text-center">
      <%= image_tag "fqmsg.png", alt: "msg", class: "app_img", style: "height: 400px" %>
    </div>
    <div class="app-feature text-center">
      <h2 class="section-heading">The Wait Is Over, Experience FastQ! </h2>

      <p class="text-muted"> Our technology makes everything easier to: <br>
      - Eliminate long lines and significantly reduce complaints <br>
      - Efficiently schedule and manage appointments <br>
      - Boost your staff’s productivity and morale <br>
      - Improve customer service flow and increase satisfaction<br>
    </p>
      <b><b><b><b>
      <p>OUR APP IS NOW AVAILABLE ON PLAY STORE </p>

      <b><b>
      <a class="btn btn-primary btn-action" href="https://play.google.com" role="button">Download Now</a>


    </div>
  </div>


  <!-- =========================
  START TESTIMONIAL SECTION
  ============================== -->

  <section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow bounceInDown">
            <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2> Sakib Kusma </h2>
                          <h4><span>Managing Director,</span> Immigration Department of Malaysia</h4>
                          <p>“With Fast Q we had the smoothest fall semester ever over previous semesters — by a quantum leap!”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2>Siti Nurhaliza</h2>
                          <h4><span>Manager,</span> Post Malaysia</h4>
                          <p>“I am being asked why we become more and more efficient and asked recommendations for queue management, and I recommend Fast Q.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2>Joel Mchale M.D</h2>
                          <h4><span>Chief of Medicine,</span> University Hospital</h4>
                          <p>“Fast Q virtual check-in transformed our urgent care facility in ways beyond what I imagined. Fast Q will become a standard in healthcare systems.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- END TESTIMONIAL SECTION -->


  <div class="client">
  <div class="text-center">
      <h2>Featured In</h2>
<%= image_tag "featured.jpg", style: "height: 100px"%>

  </div>
  </div>

<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
  <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
      <div class="section_overlay wow lightSpeedIn">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 col-md-offset-1">

                      <!-- Start Subscribe Section Title -->
                      <div class="section_title" "text center">
                          <a id="subscribe"></a>
                          <h2>SUBSCRIBE US</h2>

                      </div>
                      <!-- End Subscribe Section Title -->
                  </div>
              </div>
          </div>

          <div class="container">
              <div class="row  wow lightSpeedIn">
                  <div class="col-md-6 col-md-offset-3">
                      <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                      <div class="subscription-success"></div>
                      <div class="subscription-error"></div>


                      <form id="mc-form" class="subscribe_form">
                          <div class="form-group">
                              <!-- EMAIL INPUT BOX -->
                              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email Address">
                          </div>

                              <!-- SUBSCRIBE BUTTON -->
                          <button type="submit" class="btn btn-default subs-btn">Submit</button>
                      </form>


                  </div>
              </div>

          </div>

      </div>
  </section>
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes

</div>
