<% provide(:title, "Home") %>

<div class="landing">

  <div class="background">
    <div class="text-center">
      <h1>FastQ</h1>
      <h2>QUEUE MANAGEMENT. REINVENTED!</h2>
      <h2>Ready To Eliminate Lines? Don't Wait Any Longer. </h2>

      <%= form_tag(method: "get", id: "search-form") do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search for Services / Offices", class: 'search-bar' %>
      <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      <% end %>


    </div>
  </div>

  <div class="services">

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Civil Queue"%> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Hospital Queue" %> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Restaurant Queue" %> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Bank Queue" %> </p>
    </div>

  </div>

  <section id="FEATURES" class="features page">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-md-offset-1">
                  <!-- FEATURES SECTION TITLE -->
                  <div class="section_title wow fadeIn" data-wow-duration="1s">
                      <h2>Features</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                  </div>
                  <!-- END FEATURES SECTION TITLE -->
              </div>
          </div>
      </div>

      <div class="feature_inner">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                      <!-- FEATURE -->

                      <div class="left_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-like"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3>Creative Design<span>/</span></h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>

                      <!-- END SINGLE FEATURE -->


                      <!-- FEATURE -->
                      <div class="left_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-science"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3>Modern Look<span>/</span></h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <!-- END SINGLE FEATURE -->


                      <!-- FEATURE -->
                      <div class="left_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-look"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3>Minimal Layout<span>/</span></h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <!-- END SINGLE FEATURE -->

                  </div>
                  <div class="col-md-4">
                      <div class="feature_iphone">
                          <!-- FEATURE PHONE IMAGE -->
                          <img class="wow bounceIn" data-wow-duration="1s" src="images/iPhone02.png" alt="">
                      </div>
                  </div>
                  <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                      <!-- FEATURE -->
                      <div class="right_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-monitor"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3><span>/</span>Retina ready</h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <!-- END SINGLE FEATURE -->


                      <!-- FEATURE -->
                      <div class="right_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-phone"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3><span>/</span>Responsive Ready</h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <!-- END SINGLE FEATURE -->


                      <!-- FEATURE -->
                      <div class="right_single_feature">
                          <!-- ICON -->
                          <div><span class="pe-7s-gleam"></span></div>

                          <!-- FEATURE HEADING AND DESCRIPTION -->
                          <h3><span>/</span>Clean Code</h3>
                          <p>Lorem ipsum dolor, consectetur sed do adipisicing elit, sed do eiusmod tempor incididunt</p>
                      </div>
                      <!-- END SINGLE FEATURE -->
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- =========================
       START CALL TO ACTION
  ============================== -->
      <div class="call_to_action">
          <div class="container">
              <div class="row wow fadeInLeftBig" data-wow-duration="1s">
                  <div class="col-md-9">
                    <h2 class="feature-title text-center">The Wait Is Over, Experience FastQ!</h2>
                  </div>
                  <div class="col-md-3">
                      <a class="btn btn-primary btn-action" href="#" role="button">Download Now</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- END CALL TO ACTION -->


  <div class="how-it-works">
    <section class="features-container">
      <h2 class="feature-title text-center">How FastQ Eliminates Lines</h2>

      <section class="features">

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <h3>1. VIRTUAL CHECK-IN</h3>
          <p class="text-muted"> You join a virtual queue via mobile phone, website, or on-site kiosk. </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'comments-o 2x', color: 'dark grey'%>
          <h3> 2. STATUS UPDATES </h3>
          <p class="text-muted">FastQ shares updates with you by text.</p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'shield 2x', color: 'dark grey'%>
          <h3> 3. YOU'RE NEXT! </h3>
          <p class="text-muted">FastQ notifies you when your turn approaches.</p>
        </div>
      </section>
    </section>
  </div>

  <div class="app">
    <div class="app-feature text-center">
      <%= image_tag "app.gif", alt: "rss feed", class: "app_img", style: "height: 346px; width: 280px" %>
    </div>
    <div class="app-feature text-center">
      <h2>The Wait Is Over, Experience FastQ! </h2>
      <p class="text-muted"> Our app is now available on play store </p>
    </div>
  </div>

  <div class="client">
    List of Our Services Provider
  </div>

  <div class="sitemap">
    <div class="feature text-center">
    <h2>FastQ</h2>
    <h2>KEEPING THE WORLD IN GO!</h2>
    </div>
  </div>

  <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
      <div class="section_overlay wow lightSpeedIn">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 col-md-offset-1">

                      <!-- Start Subscribe Section Title -->
                      <div class="section_title">
                          <a id="subscribe"></a>
                          <h2>SUBSCRIBE US</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                      </div>
                      <!-- End Subscribe Section Title -->
                  </div>
              </div>
          </div>

          <div class="container">
              <div class="row  wow lightSpeedIn">
                  <div class="col-md-6 col-md-offset-3">
                      <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                      <div class="subscription-success"></div>
                      <div class="subscription-error"></div>


                      <form id="mc-form" class="subscribe_form">
                          <div class="form-group">
                              <!-- EMAIL INPUT BOX -->
                              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email Address">
                          </div>

                              <!-- SUBSCRIBE BUTTON -->
                          <button type="submit" class="btn btn-default subs-btn">Submit</button>
                      </form>


                  </div>
              </div>

          </div>

      </div>
  </section>
  <!-- <section>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <div class="grid-item werm-grid">sdfdsfds</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
    </div>
  </section> -->

</div>
