<% provide(:title, "Home") %>

<div class="landing">

  <div class="background">
    <div class="text-center">
      <%= image_tag "logoset.png", size: "250x180" %>
      <h2>QUEUE MANAGEMENT. REINVENTED!</h2>
      <h2>Ready To Eliminate Lines? Don't Wait Any Longer. </h2>

      <%= form_tag(method: "get", id: "search-form") do %>
      <%= search_field_tag :search, params[:search], placeholder: "Search for Services / Offices", class: 'search-bar' %>
      <label for="search"><i class="fa fa-search fa-2x" aria-hidden="true"></i></label>
      <% end %>


    </div>
  </div>

  <div class="services">

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Civil Queue"%> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Hospital Queue" %> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Restaurant Queue" %> </p>
    </div>

    <div class="services-container text-center">
      <%= fa_icon 'gift 2x', color: 'dark grey'%>
      <p class="text-muted"> <%=link_to "Bank Queue" %> </p>
    </div>

  </div>


  <!-- =========================
       START CALL TO ACTION
  ============================== -->
  <div class="call_to_action">
      <div class="container">
          <div class="row wow fadeInLeftBig" data-wow-duration="1s">
              <div class="col-md-9">
                <h2 class="feature-title text-center">The Wait Is Over, Experience FastQ!</h2>
              </div>
              <div class="col-md-3">
                  <a class="btn btn-primary btn-action" href="#" role="button">Get A Ticket Now</a>
              </div>
          </div>
      </div>
  </div>

      <!-- END CALL TO ACTION -->


  <section id='features'>

    <div class="row feature design">

       <div class="six columns right">
          <h3>Simple, Clean and Modern Design.</h3>

          <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
          </p>
       </div>

       <div class="six columns feature-media left">
           <%= image_tag "feature-image-1.png", alt:"F"%>

       </div>

    </div>

    <div class="row feature responsive">

       <div class="six columns left">
          <h3>Fully Responsive.</h3>

          <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
          enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
          Quis nostrum exercitationem ullam corporis suscipit laboriosam.Our library is continually refreshed with the latest on web technology
          so you'll never fall behind. Quis nostrum exercitationem ullam corporis suscipit laboriosam.
          </p>
       </div>

       <div class="six columns feature-media right">
           <%= image_tag "feature-image-2.png", alt:"F"%>

       </div>

    </div>

    <div class="row feature cross-browser">

       <div class="six columns right">
          <h3>Cross-Browser Compatible.</h3>

          <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
          Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
          </p>
       </div>

       <div class="six columns feature-media left">

           <img src="images/feature-image-3.png" alt="" />
       </div>

    </div>

    <div class="row feature video">

       <div class="six columns left">
          <h3>Video Support.</h3>

          <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
          enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
          Quis nostrum exercitationem ullam corporis suscipit laboriosam. No soleat fabulas prodesset vel, ut quo solum dicunt. Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
          </p>
       </div>

       <div class="six columns feature-media right">
           <div class="fluid-video-wrapper">
                <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
           </div>
       </div>

    </div>

     </section> <!-- Homepage Hero end -->


  <div class="how-it-works">
    <section class="features-container">
      <h2 class="feature-title text-center">How FastQ Eliminates Lines</h2>

      <section class="features">

        <div class="feature text-center">
          <%= fa_icon 'gift 2x', color: 'dark grey'%>
          <h3>1. VIRTUAL CHECK-IN</h3>
          <p class="text-muted"> You join a virtual queue via mobile phone, website, or on-site kiosk. </p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'comments-o 2x', color: 'dark grey'%>
          <h3> 2. STATUS UPDATES </h3>
          <p class="text-muted">FastQ shares updates with you by text.</p>
        </div>

        <div class="feature text-center">
          <%= fa_icon 'shield 2x', color: 'dark grey'%>
          <h3> 3. YOU'RE NEXT! </h3>
          <p class="text-muted">FastQ notifies you when your turn approaches.</p>
        </div>

      </section>
    </section>
  </div>

    <div class="how-it-works">
      <div class="text-center">
        <%= image_tag "work.png", size: "250x180" %>
      </div>
    </div>


  <div class="app">
    <div class="app-feature text-center">
      <%= image_tag "app.gif", alt: "rss feed", class: "app_img", style: "height: 346px; width: 280px" %>
    </div>
    <div class="app-feature text-center">
      <h2>The Wait Is Over, Experience FastQ! </h2>
      <p class="text-muted"> Our app is now available on play store </p>
    </div>
  </div>


  <!-- =========================
  START TESTIMONIAL SECTION
  ============================== -->

  <section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow bounceInDown">
            <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
                <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2> Sakib Kusma </h2>
                          <h4><span>Managing Director,</span> Immigration Department of Malaysia</h4>
                          <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2>Siti Nurhaliza</h2>
                          <h4><span>Manager,</span> Post Malaysia</h4>
                          <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <!-- IMAGE -->

                        <div class="testimonial_caption">
                          <!-- DESCRIPTION -->
                          <h2>Joel Mchale M.D</h2>
                          <h4><span>Chief of Medicine,</span> University Hospital</h4>
                          <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- END TESTIMONIAL SECTION -->
  <div class="client">
    Featured In
  </div>

  <!-- <div class="sitemap">
    <div class="feature text-center">
    <h2>FastQ</h2>
    <h2>KEEPING THE WORLD IN GO!</h2>
    </div>
  </div> -->

  <section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
      <div class="section_overlay wow lightSpeedIn">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 col-md-offset-1">

                      <!-- Start Subscribe Section Title -->
                      <div class="section_title">
                          <a id="subscribe"></a>
                          <h2>SUBSCRIBE US</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                      </div>
                      <!-- End Subscribe Section Title -->
                  </div>
              </div>
          </div>

          <div class="container">
              <div class="row  wow lightSpeedIn">
                  <div class="col-md-6 col-md-offset-3">
                      <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                      <div class="subscription-success"></div>
                      <div class="subscription-error"></div>


                      <form id="mc-form" class="subscribe_form">
                          <div class="form-group">
                              <!-- EMAIL INPUT BOX -->
                              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Email Address">
                          </div>

                              <!-- SUBSCRIBE BUTTON -->
                          <button type="submit" class="btn btn-default subs-btn">Submit</button>
                      </form>


                  </div>
              </div>

          </div>

      </div>
  </section>
  <!-- <section>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
      <div class="grid-item werm-grid">sdfdsfds</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
    </div>
  </section> -->

</div>
