<div class="modal fade" id="signup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for(user, url: users_path, html: { id: "user-create-form" }) do |f| %>
          <%= render partial: 'partials/error_messages', locals: {record: user} %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control', placeholder: 'username' %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'email' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
    <br>
          <%= f.label :country %>
          <%= f.country_select :country %>
    <br>
    <br>
        <div class="button text-center">
          <%= f.submit "Create my account", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
