<h2>Ticket Orders</h2>

<% @orders.each do |order| %>
  <div class="order">
    <h3><%= order.office %></h3>
    <h5><%= order.branch %></h5>
    <h5><%= order.service %></h5>
    <h5><%= order.ticket %></h5>
    <!-- <%= link_to order.title, order_path(order) %> -->
  </div>
<% end %>
