
<section id='features'>

  <div class="row feature design">

    <div class="six columns right">
      <h3>Simple, Clean and Modern Design.</h3>

      <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
        Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
      </p>
    </div>

    <div class="six columns feature-media left">
      <img src="images/feature-image-1.png" alt="" />
    </div>

  </div>

  <div class="row feature responsive">

    <div class="six columns left">
      <h3>Fully Responsive.</h3>

      <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
        enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
        Quis nostrum exercitationem ullam corporis suscipit laboriosam.Our library is continually refreshed with the latest on web technology
        so you'll never fall behind. Quis nostrum exercitationem ullam corporis suscipit laboriosam.
      </p>
    </div>

    <div class="six columns feature-media right">
      <img src="images/feature-image-2.png" alt="" />
    </div>

  </div>

  <div class="row feature cross-browser">

    <div class="six columns right">
      <h3>Cross-Browser Compatible.</h3>

      <p>Lorem ipsum dolor sit amet, ea eum labitur scripserit, illum complectitur deterruisset at pro. Odio quaeque reformidans est eu, expetendis intellegebat has ut, viderer invenire ut his. Has molestie percipit an. Falli volumus efficiantur sed id, ad vel noster propriae. Ius ut etiam vivendo, graeci iudicabit constituto at mea. No soleat fabulas prodesset vel, ut quo solum dicunt.
        Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
      </p>
    </div>

    <div class="six columns feature-media left">
      <img src="images/feature-image-3.png" alt="" />
    </div>

  </div>

  <div class="row feature video">

    <div class="six columns left">
      <h3>Video Support.</h3>

      <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
        enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu.
        Quis nostrum exercitationem ullam corporis suscipit laboriosam. No soleat fabulas prodesset vel, ut quo solum dicunt. Nec et amet vidisse mentitum. Cibo mutat nulla ei eam.
      </p>
    </div>

    <div class="six columns feature-media right">
      <div class="fluid-video-wrapper">
        <iframe src="http://player.vimeo.com/video/14592941?title=0&amp;byline=0&amp;portrait=0&amp;color=F64B39" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>

  </div>

</section>

<!-- =========================
Start APPS SCREEN SECTION
============================== -->
<section class="apps_screen page" id="SCREENS">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
        <!-- APPS SCREEN TITLE -->
        <div class="section_title">
          <h2>Screenshots</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
        <!-- END APPS SCREEN TITLE -->
      </div>
    </div>
  </div>

  <div class="screen_slider">
      <div id="owl-example" class="owl-carousel">

        <!-- APPS SCREEN IMAGES -->
        <div class="item">
            <%= image_tag "iphone04.png", alt:"APPS SCREEN"%>
        </div>

        <div class="item">
            <%= image_tag "iphone05.png", alt:"APPS SCREEN"%>
        </div>
        <div class="item">
            <%= image_tag "iphone06.png", alt:"APPS SCREEN"%>
        </div>
        <div class="item">
            <%= image_tag "iphone07.png", alt:"APPS SCREEN"%>
        </div>
        <div class="item">
            <%= image_tag "iphone08.png", alt:"APPS SCREEN"%>
        </div>
      </div>
  </div>
</section>



<!-- ENS APPS SCREEN -->


<!-- =========================
START TESTIMONIAL SECTION
============================== -->

<section id="TESTIMONIAL" class="testimonial parallax">
  <div class="section_overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12 wow bounceInDown">
          <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>
              <li data-target="#carousel-example-caption-testimonial" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <img src="images/client_1.png" alt="">
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Dan Harmon</h2>
                        <h4><span>SR. UI Designer,</span> Dcrazed</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <img src="images/client_2.png" alt="">
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Allie Kingsley</h2>
                        <h4><span>SR. Content Strategist,</span> Designscrazed</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <!-- IMAGE -->
                      <img src="images/client_3.png" alt="">
                      <div class="testimonial_caption">
                        <!-- DESCRIPTION -->
                        <h2>Joel Mchale</h2>
                        <h4><span>SR. Developer,</span> Treehouse</h4>
                        <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- END TESTIMONIAL SECTION -->
