<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700'>


  </head>

  <body>
  <div id="header">
    <%= render partial: 'partials/header' %>
  </div>
  <div class = "flash_messages" id='flash-messages-container'>
    <%= render partial: "partials/flash_messages" %>
  </div>
  <%= render partial: 'partials/user_new', locals: {user: User.new}  %>
  <%= render partial: 'partials/session_new' %>
  <div id="wrapper">
    <%= yield %>
  </div>
  <%= render partial: "partials/footer" %>
  </body>
</html>
